.body{
    font-family: 'Montserrat', sans-serif;
    min-width: 1200px;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
}
/* header */
.header {
    background: url(../image/Header_background.png) center/cover no-repeat fixed;
}
.menu {
    height: 120px;
    justify-content: space-between;
    background: rgba(94, 93, 88, 0.6);
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav-list {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.nav-list-item{
    margin-right: 21px;
    color: rgba(255, 255, 255, 0.6);
    
}
.nav-list-link{
    position: relative;
}
.nav-list-link::after{
    content: "";
    position: absolute;
    top: 68px;
    height: 2px;
    background-color:#18CFAB;
    display: block;
    width: 100%;
    transform: scaleX(0);
    transition:all 0.25s ease;
}
.nav-list-link:hover.nav-list-link::after{
    transform: scaleX(100%);
    transition: all 0.5s ease-in-out;
}
.nav-list-link:hover{
    color: #18CFAB;
    cursor: pointer; 
}
.nav-list-item-svg:hover{
filter: invert(57%) sepia(94%) saturate(430%) hue-rotate(118deg) brightness(120%) contrast(88%);
}

/* logo */
.logo {
    display: flex;  
    align-items: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}
.logo-img {
    display: flex;
    align-items: center; 
}
.green-text {
    font-weight: 700; 
    color: #18CFAB; 
}
.logo-h {
    background-color: #18CFAB;
    width: 60px;
    height: 65px;
    font-size: 40px;
    font-weight: 700;
    line-height: 31px; 
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-right: 6px;
}

/* header-text */
.home-text{
    color: #FFFFFF;
    font-weight: 700; 
    font-size: 35px;
    text-align: center;
}
.home-text-h3{
    padding-top: 264px;
    padding-bottom: 22px;
    text-transform: uppercase;
}
.home-text-h1 {
    font-size: 78px;
    text-transform: uppercase;
    padding-bottom: 22px;
}
.home-text-p{
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;

}
/* header-buttons */
.button {
    width: 169px;
    height: 63px;
    background-color: #18CFAB;
    border-radius: 4px;
    box-shadow: inset 0 4px #FFFFFF;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}
.button:hover{
    box-shadow: none;
    transition: 0.5s ease;
}
.buttons{
    display: flex;
    justify-content: center;
    padding-top: 122px;
    padding-bottom: 243px; 
}
.btn-purchase{
    margin-left: 26px;
    background-color: #00CBF6;
}
/* 4 options */
.four-options-list{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 84px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #18CFAB;
    text-transform: uppercase;
    text-align: center;
}
.four-options-list-item{
    width: 100%;
    height: 377px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.four-options-list-item-dark{
    background: #1C2A33;
    color: #18CFAB;
}
.four-options-img{
    display: inline;
}
.four-options-img-green{
    margin-bottom: 10px;
}
.four-options-text{
    margin-top: 48px;
}
/* service */
.title{
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    margin: 0;
    position: relative;
}
.our-services-title{
    margin-bottom: 99px;
}
.title::before,
.title::after{
    content: '';
    width: 76px;
    height: 1px;
    background-color: #18CFAB;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}
.title::after{
    width: 78px;
    transform: translateX(-20%);
    bottom: -25px;
}
.our-services-tabs{
    display: flex;
    padding-bottom: 28px;
    
}
.our-services-tabs-item{
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    display: flex;
    justify-content: center;
    position: relative;
    color: #717171;
    font-size: 16px;
    line-height: 39px;
    font-weight: 400;
    padding: 14px 0;
    width: 187px;
    text-align: center;
    cursor: pointer;
}

.our-services-tabs-item:hover{
    border: 1px solid #18CFAB;
}

.our-services-tabs-item.active {
    background-color: #18CFAB;
    color: #FFFFFF;
    position: relative;
}
.our-services-tabs-item.active>a{
    color: #FFFFFF;
}
.our-services-tabs-item.active::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 60px;
    left: 47%;
    background: #18CFAB;
    transform: rotate(136deg);
}
.our-services-img{
    width: 192px;
    height: 139px;
    margin-right: 15px;
}
.our-services-content{
    padding-left: 0;
}
.our-services-content-item{
    display: none;
}
.show{
    display: flex;
}
.our-services-content-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}
/* purchase */
.buy{
    margin-top: 91px;
    background: url(../image/Buy_background.jpg) center/cover no-repeat;
}
.buy-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
    text-align: center;
    padding-top: 127px;
}
.buy-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    padding-top: 12px;
    padding-bottom: 62px;
}
.btn-buy{
    margin: 0 auto;
    display: block;
       
}
.buy-container{
    padding-bottom: 128px;
}
/* work */
.work{
    background: #E9EDEF;
}
.work-title{
    padding-top: 97px;
}
.work-container{
    padding-bottom: 99px;
    position: relative;
}
.filter-buttons{
    margin: 93px auto 69px;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    align-items: center;
    color: #717171;
    width: 589px;
    height: 62px;
}
.filter-btn{
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    padding: 9px 15px;
    cursor: pointer;
}
.filter-btn-all{
   padding-left: 30px;
   padding-right: 30px;
}
.filter-btn.active{
    color: #18CFAB;
    border: 2px solid #18CFAB;
}
.hide {
    display: none;
}
.work-images{
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    font-size: 0;
}
.work-item{
    position: relative;  
}
.work-img{
    width: 290px;
    height: 206px;
}
.load-more-btn{
    display: flex;
    margin: 70px auto 0;
    box-shadow: none;
    font-size: 14px;
    line-height: 42px;
    align-items: center;
    position: relative;
}
.gooey {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    /* background: #E9EDEF; */
    filter: contrast(20);
  }
  .gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    /* filter: blur(4px); */
    background: #18CFAB;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
  }
  .gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
  }
  .gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    /* filter: blur(4px); */
    background: #18CFAB;
    border-radius: 50%;
  }
  @-moz-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-webkit-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-o-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-moz-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @-webkit-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @-o-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  
.plus{
    margin: auto 15px 23px;
}
.work-img-info{
    width: 290px;
    height: 211px; 
    border-top: 2px solid #18CFAB;
    text-align: center;
    position: absolute;
    top: 0;
    background: #E9EDEF;
    opacity: 0;
    transition: all 1s ease;
    cursor: default;
  
}
.icon{
    margin-top: 41px;
    margin-bottom: 24px;
    cursor: default;  
}
.ellipse{
    margin-right: 3px;
    position: relative;
}
.figure-chain:hover .ellipse{
    fill: #18CFAB; 
}
.chain{
    position: absolute;
    top: 54px;
    left: 113px;
}
.figure-chain:hover .chain-path{
    z-index: 1;
    fill: white;
}
.square{
    position: absolute;
    top: 57px;
    left: 160px;
}
.figure-square:hover .ellipse{
    fill: #18CFAB;  
}
.figure-square:hover .square-path{
    z-index: 1;
    fill: white;
}
.work-img-text{
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 10px; 
}
.work-img-title{
    color: #8A8A8A;
    margin: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
}
.work-item:hover .work-img-info{
    opacity: 1;
    transition: 1s;
}
/* news */
.news{
    margin: 84px auto 130px;
}
.news-content{
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(4, 1fr);
    margin-top: 100px;
    gap: 44px 33px;
}
.news-list-item{
    position: relative;
}
.news-list-item:hover .news-date{
    background-color: #18CFAB;
}
.news-list-item:hover h4{
    color: #18CFAB;
    padding-left: 18px;
    transition: 0.3s ease;
}
.news-list-img{
    width: 265px;
    height: 208px;
}
h4{
    color: #717171;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    padding-left: 10px;
}
.news-p{
    padding-right: 30px;
    position: relative;
}
.news-p::after{
    content: "";
    width: 1px;
    height: 14px;
    display: block;
    position: absolute;
    left: 80px;
    background-color: #777777;
    bottom: 12px;
}
.news-date{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 70px;
    height: 68px;
    background-color: #203E38;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    position: absolute;
    top: 0;
    right: 0;
}
.news-text{
    display: flex;
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    padding-left: 14px;
}
/* feedback */
.feedback{
    background-image: url(../image/feedback/layer333.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.feedback-title{
    color: #FFFFFF;
    padding-top: 98px;
    margin-bottom: 99px;
}
.quotes{
    margin: 0 auto;
    display: block;
}
.feedback-text{
    text-align: center;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    width: 1160px;
}
.feedback-p{
    margin: 37px auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}
.feedback-author{
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
}
.feedback-gallery{
    width: 1160px;
    position: relative;
    overflow: hidden;
}
.feedback-review{
    display: flex;
    font-size: 0;
    width: 4640px;
    overflow: hidden;
    position: relative;
    left: 0;
    transition: all linear 0.5s;
}
.feedback-img-big{
    margin: 38px auto 51px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 12px rgb(3 218 164 / 25%);
    display: inline;
    width: 143px;
    height: 142px;
}
.feedback-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 99px;
}
.authors{
    display: flex;
    justify-content: center;
    padding-left: 30px;

}
.slider-item{
    margin-right: 30px;
}
.slider-photo{
    border-radius: 50%;
    box-shadow: 0px 0px 0px 4px rgb(3 218 164 / 25%); 
    width: 60px;
    height: 59px;
}
.active-photo{
    position: relative;
    bottom: 11px; 
}
.btn{
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    width: 31px;
    height: 31px;
    color: #BBBBBB; 
    text-align: center;
}
.btn:hover{
    background-color: #18CFAB;
    border: none;
}

/* footer  */

.footer {
    width: 100%;
    background-color: #22353F;
    height: 121px;
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    padding-top: 48px;
}
.footer-link {
    color: #18CFAB;
}